<ion-content >
  <!-- today best -->
  <!-- <ion-row class="top middle">
    <ion-card class="todaysBest">
      <ion-card-header >
        <ion-card-title class="wcenter" style="color: #fff;">Recording</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1 class="middle time">10:00<span style="font-size: 12px;">Mins</span></h1>
      </ion-card-content>
    </ion-card>
  </ion-row> -->
  <ion-row>
    <h1 class="middle whiteText"> Recording</h1>

  </ion-row>
  <ion-row>
    <h1 class="middle time whiteText">10:00<span style="font-size: 12px;">Mins</span></h1>

  </ion-row>

  <!-- today's timeline or barchat-->
  <ion-row class="todayRow middle whiteRow">
    <ion-card class="todayCard whiteBox">
      <ion-card-header>
        <ion-card-title class="wcenter">Today's Summary</ion-card-title>
      </ion-card-header>
      <ion-card-content class="contentUp">
        <span class="centerText">72%</span>
        <canvas #doughnutCanvas id="doughnutCanvas"></canvas>
      </ion-card-content>
    </ion-card>

  </ion-row>
  <ion-row ></ion-row>
  <!-- weekly analysis -->
  <ion-row class="middle whiteRow">
    <ion-card class="whiteBox">
      <ion-card-header>
        <ion-card-title class="wcenter">Weekly Analysis</ion-card-title>
      </ion-card-header>
      <ion-card-content class="contentUp">
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
