.top{
    margin-top: 10%;
}

.todaysBest{
    width: 100%;
    border-radius: 4px;
}

.time{
    font-weight: bold;
    width: fit-content;
}

.middle {
    margin-left: auto;
    margin-right: auto;
}

ion-card{
    width: 100%;
}