.top{
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: var(--ion-color-three);
}

.todaysBest{
    width: 100%;
    border-radius: 4px;
    margin: 0;
    color: #fff;
    box-shadow: none;
}

.bestHeader {
    color: #fff;

}

.time{
    font-weight: bold;
    width: fit-content;
}

.middle {
    margin-left: auto;
    margin-right: auto;
}

.whiteBox{
    width: 96%;
    background: #ffffffdc!important;
}
.whiteText{
    color: white;
}

ion-row {
    background-color: linear-gradient(45deg, #439895 0%, #59bda3 33.3%, #a3e1dc 100%);
}



ion-card-title{
    font-weight: bold;
    font-size: 19px;
    margin-top: 20px;
}

.contentUp {
    margin-top: -10px;
}


.whiteRow {
    width: 96%;
    background-color: #ffffffdc;
}

.todayRow {
    height: 260px;
}

.todayCard{
    height: 245px;
}

.centerText {
    position: absolute;
    left: 45%;
    top: 47%;
    font-size: 24px;
}
