.custom-ion-content {
    --background: transparent;
}

.icon span {
    font-size: small;
}
.ionicon {
    font-size: large;
}
button {
    margin-top: 2px;
    margin-bottom: 2px;
}

.window {
    width: 98%;
    height: 85vw;
    margin: auto;
}

.wcenter {
    text-align: center;
    margin: auto;
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
}
