<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center">
      Sit-Up!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngClass]="{'custom-ion-content': isToBack}">

  <ion-grid>

    <ion-row class="center icon">
      <ion-col>
        <ion-icon color="success" name="sunny-outline" isActive=true></ion-icon> <span color="success">Right</span>
      </ion-col>
      <!-- <ion-col>
        <ion-button (click)="switchCamera()" fill="clear" color="medium">
          <ion-icon name="sync-circle-outline"> </ion-icon> <span>Switch</span>
        </ion-button>
      </ion-col> -->
      <ion-col>
        <ion-icon color="danger" name="sunny-outline"></ion-icon> <span color="danger">Wrong</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="window">

            <div class="wcenter" *ngIf="!connected">
              <ion-button (click)="startCameraAbove()" shape="round" color="green">
                <ion-icon slot="start" name="arrow-forward-circle" color="light"></ion-icon>Connect
              </ion-button>
              <ion-button shape="round" color="pink" (click)="stopCamera()">Disconnect</ion-button>
            </div>
            <canvas id="video" style="width: 100%; height: 80%;">hi</canvas>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="center">
          <ion-text color="green">
            Correct Posture Time <br>
          </ion-text>
          <h2 class="center"> 00 </h2>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="center">
          <ion-text color="pink">
            Wrong Posture Time <br>
          </ion-text>
          <h2 class="center"> 00 </h2>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row> <br> </ion-row>
    <ion-row>
      <ion-button class="center" shape="round" color="success" (click)="takePicture()" color="green">Set A Goal!
      </ion-button>
    </ion-row>
    <ion-row> <br> </ion-row>
    <!-- <ion-row>
      <ion-text color="blue" class="center">
        Keep Going!
      </ion-text>
    </ion-row> -->


  </ion-grid>

</ion-content>