.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.login{
    margin-top: 5%;

}
ion-content{
    // --ion-background-color: #a3e1dc;
    --ion-background-color: linear-gradient(-45deg, #9bc2c1 0%, #73c2ad 33.3%, #bee5e4 100%) !important;
    
}
